.articles-container {
  display: flex;               
  flex-wrap: wrap;             
  justify-content: space-around; 
  gap: 20px;                   
  padding: 10px;               
}


.article {
  flex: 1 1 calc(33.333% - 20px); 
  box-sizing: border-box;       
  border: 1px solid #ccc;      
  padding: 10px;                
  margin-bottom: 20px;          
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.button-link:hover {
  background-color: #0056b3;
}



@media (max-width: 768px) {
  .article {
    flex: 1 1 100%;             
  }
}
